body{
    text-align:center;
  }
  .header
  {
    font-weight:bold;
    font-size:30px;
  }
  #album
  {
   border-bottom: 3px solid #29B6F6;
    padding: 2px;
    height: 100px;
    
  }